<<div class="book-wrap">
<% @book.each do |list| %>
    <div class="book-comment">
      <span class="book-body"><%= book.body %></span>
      <span class="book-title"><%= link_to book.title, book_path(book.id) %></span>
    </div>
  </div>
<% end %>
</div>